name: tsh_travel_sales
description: "TSH ERP Travel Salesperson App"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  
  # State management
  flutter_bloc: ^8.1.3
  get_it: ^7.6.4
  equatable: ^2.0.5
  provider: ^6.1.1
  
  # Navigation
  go_router: ^14.2.7
  
  # UI
  cupertino_icons: ^1.0.8
  
  # Localization
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
